<h1 mat-dialog-title>Edit Project</h1>

<form [formGroup]="editProjectForm" (ngSubmit)="closeDialog()">
<mat-dialog-content>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Project Name</mat-label>
    <input matInput (keydown.space)="$event.preventDefault()" maxlength="30" formControlName="projectName">
  </mat-form-field>
  <br />
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Project Description</mat-label>
    <textarea matInput maxlength="140" formControlName="projectDescription"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" [disabled]="!editProjectForm.valid" color="primary">OK</button>
</mat-dialog-actions>
</form>