$font-family: 'Lato', sans-serif;

$global_gradient: linear-gradient(to right, #19D2CC, #0968B5);
$global_gradient_black: linear-gradient(to right, #878787, #2B2B2B);
$global_gradient_header: linear-gradient(to right, #2B2B2B, #878787);

/** Breadcrumb CSS **/
$breadcrumb-font-color: #383838;
$breadcrumb-font-size: 17px;
$breadcrumb-line-height: 24px;
$breadcrumb-padding: 24px;

$primary-white: #FFFFFF;
$primary-color-1: #19D2CC;
$primary-color-2: #1C90D1;
$primary-color-3: #0968B5;
$primary-color-4: #F9D150;
$primary-color-5: #383838;
$primary-color-6: #636363;
$primary-color-7: #878787;
$primary-color-8: #2B2B2B;
$primary-color-9: #A9A9A9;

$text-color-1: #383838;

$dialog-input-width: 100%;
$dialog-h1-font-size: 20px;
$dialog-h1-line-height: 24px;
$dialog-input-font-size: 14px;
$dialog-input-line-height: 18px;
$dialog-icon-height: 30.68px;
$dialog-icon-width: 40px;

$domain-description-color: #939393;

