@media ( min-width: 768px ) {
    .grid-divider {
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 8.25%;
        bottom: 0;
    }
    .col-padding {
        padding: 0 10px;
    }
}
.modify_content {
    position: fixed;
    bottom: 3%;
    width: 100%;
}
.property-panel {
    margin: 0;
    padding: 0;
}
.property-panel-components {
    margin: 0;
    padding: 5%;
}