<div class="projects-container">
  <div class="row add-project">
    <div class="col-md-11">
      <mat-form-field>
        <input matInput (keyup)="applyProjectsFilter($event.target.value)" placeholder="Filter Projects">
      </mat-form-field>
    </div>
    <div class="col-md-1 text-right">
      <button mat-mini-fab matTooltip="Add Project" [ngClass]="(appSource==='open')?'add-project-button-black':'add-project-button-color'" (click)="addNewProject()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="projects_json.length===0" class="row empty-projects">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong>Info!</strong> Currently there are no projects.
      </div>
    </div>
  </div>
  <div class="row projects-table-container">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="projectsDataSource">

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let project"> <mat-icon *ngIf="appSource==='enterprise'" svgIcon="project"></mat-icon> <mat-icon *ngIf="appSource==='open'" svgIcon="project-black"></mat-icon> </td>
          </ng-container>
        
          <ng-container matColumnDef="project_name">
            <th mat-header-cell *matHeaderCellDef> Project Name </th>
            <td mat-cell *matCellDef="let project"><span *ngIf="project.state === ''" class="project_name_text" (click)="selectProject(project)">{{project.project_name}}</span> <span *ngIf="project.state !== ''" (click)="showErrorOnProject()">{{project.project_name}}</span></td>
          </ng-container>

          <ng-container matColumnDef="padding1">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let project"></td>
          </ng-container>
        
          <ng-container matColumnDef="project_description">
            <th mat-header-cell *matHeaderCellDef> Project Description </th>
            <td mat-cell *matCellDef="let project"> {{project.project_description}} </td>
          </ng-container>

          <ng-container matColumnDef="padding2">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let project"></td>
          </ng-container>

          <ng-container matColumnDef="created_by">
            <th mat-header-cell *matHeaderCellDef> Created By </th>
            <td mat-cell *matCellDef="let project"> {{project.created_by}} </td>
          </ng-container>
        
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let project"> {{project.state}} </td>
          </ng-container>

          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef> Source </th>
            <td mat-cell *matCellDef="let project"> {{project.source}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let project" class="edit_remove">
              <div *ngIf="project.state === 'Published' || project.state === 'Archived'">
                <button mat-icon-button [disabled]="true">
                  <mat-icon svgIcon="editDis"></mat-icon>
                </button>
              </div>
              <div *ngIf="project.state === ''">
                <button mat-icon-button (click)="editProject(project._id.$oid, project.project_name, project.project_description)">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="edit"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="edit-black"></mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let project" class="edit_remove">
              <div *ngIf="project.state === 'Published' || project.state === 'Archived'">
                <button mat-icon-button [disabled]="true">
                  <mat-icon svgIcon="deleteDis"></mat-icon>
                </button>
              </div>
              <div *ngIf="project.state === ''">
                <button mat-icon-button (click)="deleteProject(project._id.$oid)">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="delete"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="delete-black"></mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="copy">
            <th mat-header-cell *matHeaderCellDef> Copy </th>
            <td mat-cell *matCellDef="let project" class="edit_remove"><button mat-icon-button (click)="copyProject(project._id.$oid, project.project_name)"><mat-icon *ngIf="appSource==='enterprise'" svgIcon="copy"></mat-icon> <mat-icon *ngIf="appSource==='open'" svgIcon="copy-black"></mat-icon> </button></td>
          </ng-container>

          <ng-container matColumnDef="try_now">
            <th mat-header-cell *matHeaderCellDef> Try Now </th>
            <td mat-cell *matCellDef="let project" class="edit_remove"><button mat-icon-button (click)="tryNowProject(project)"><mat-icon *ngIf="appSource==='enterprise'" svgIcon="try-now"></mat-icon> <mat-icon *ngIf="appSource==='open'" svgIcon="try-now-black"></mat-icon></button></td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="projectsDisplayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: projectsDisplayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons (page)="getProjectsPaginatorData($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>