@import '../../scss/styles';

.projects-container {
    padding: 1%;
    overflow-x: hidden;
    height: 100%;
}
.add-project {
    height: 10%;
    padding: 0.5%;
}
.projects-table-container {
    height: 73vh;
    padding: 0.5%;
    overflow-y: auto;
}
table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-column-icon{
    width: 5%;
}
.mat-column-project_name{
    width: 10%;
}
.mat-column-padding1{
    width: 1%;
}
.mat-column-project_description {
    width: 21%;
}
.mat-column-padding2{
    width: 1%;
}
.mat-column-created_by {
    width: 10%;
}
.mat-column-state {
    width: 10%;
}
.mat-column-source {
    width: 6%;
}
.mat-column-edit {
    width: 5%;
}
.mat-column-delete {
    width: 5%;
}
.mat-column-copy {
    width: 5%;
}
.mat-column-try_now {
    width: 5%;
}
.mat-column-properties {
    width: 6%;
}
.mat-column-export {
    width: 5%;
}
.mat-column-train {
    width: 5%;
}
.mat-row:hover {
    background-color: #eee;
}
.project_name_text:hover {
    text-decoration: underline;
    cursor: pointer;
}
svg {
    vertical-align: initial !important;
}
.modify_content {
    position: fixed;
    bottom: 3%;
    width: 100%;
}
.property-panel {
    margin: 0;
    padding: 0;
}
.property-panel-components {
    margin: 0;
    padding: 5%;
}
.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}
.add-project-button-color {
    background-image: $global_gradient;
}
input[type="file"] {
    display: none;
}
.project-icons {
    color: #1C90D1;
}
.upload-project {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-image: linear-gradient(to right, #19D2CC, #0968B5);
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    min-width: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
}
.import-project {
    margin-top: 8px;
}
@media screen and (min-width: 1367px) and (max-width: 1620px) {
    .projects-table-container {
        height: 75vh;
        overflow-y: auto;
    }
}
@media screen and (min-width: 1621px) {
    .projects-table-container {
        height: 77vh;
        overflow-y: auto;
    }
}