<h1 mat-dialog-title>Rename File</h1>

<form [formGroup]="renameFileForm" (ngSubmit)="closeDialog()">
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="File Name" formControlName="fileName">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="File Description" formControlName="fileDescription"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="!renameFileForm.valid" color="primary">OK</button>
  </mat-dialog-actions>
</form>