<div class="place_div_center">
  <div class="row">
    <div class="col-md-12 text-right">
      <button mat-raised-button color="primary" (click)="openDialogCreateUser()" class="eva-menu-item">
        <mat-icon>person_add</mat-icon>
        <span class="mat-subheading-2">Create New User</span>
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
      </mat-form-field>
    </div>
    <div class="col-md-6 text-right">
      <span class="mat-subheading-2" style="padding-right: 5%;">Filter By:</span>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-select placeholder="Role">
          <mat-option [value]="0">All</mat-option>
          <mat-option *ngFor="let role of allRoles" [value]="role.role_id">
            {{role.role_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="example-container mat-elevation-z8">
        <table id="users_data" mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="user_id">
            <th mat-header-cell *matHeaderCellDef> <span style="display: none;">User Id</span> </th>
            <td mat-cell id="username_details" *matCellDef="let element"> <span style="display: none;">{{element.user_id}}</span> </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell id="username_details" *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="displayname">
            <th mat-header-cell *matHeaderCellDef> Display Name </th>
            <td mat-cell *matCellDef="let element"> {{element.displayname}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="agent">
            <th mat-header-cell *matHeaderCellDef> <span style="display: none;">Agent</span> </th>
            <td mat-cell id="username_details" *matCellDef="let element"> <span style="display: none;">{{element.agent}}</span> </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button (click)="setUserDetails(element.user_id, element.username, element.name, element.displayname, element.role, element.agent, element.email)" [matMenuTriggerFor]="manageUserMenu" mat-button class="eva-menu-item">
                <span class="mat-subheading-2">...</span>
              </button>
            </td>
            <mat-menu class="eva-menu" #manageUserMenu="matMenu">
              <button (click)="openDialogUpdateUser(user_id, username, name, displayname, role, agent, email)" mat-menu-item class="eva-menu-item nofocus">
                <mat-icon>plus_one</mat-icon>
                <span class="mat-body-1">Update User</span>
              </button>
              <mat-divider></mat-divider>
              <button (click)="openDialogDeleteUser(username)" mat-menu-item class="eva-menu-item nofocus">
                <mat-icon>exposure_neg_1</mat-icon>
                <span class="mat-body-1">Delete User</span>
              </button>
            </mat-menu>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <br>
</div>