@import '../../../scss/styles';

body {
    background-color: white;
}
.place_div_center {
    width: 85%;
    height: 80%;

    position: absolute;
    top:-12%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    float: left;
}
.example-full-width {
    width: 60%;
}
.example-container {
    height: 400px;
    overflow: auto;
}
table {
    width: 100%;
} 
.mat-form-field {
    font-size: 12px;
}
.mat-row:hover {
    background-color: #EEE;
}
.nofocus {
    outline: none;
    border: 0;
}