.idea/
eva-platform.iml
misc.xml
modules.xml
vcs.xml
workspace.xml
vol_chatbot_data/database/db/*
!vol_chatbot_data/database/db/placeholder
vol_chatbot_data/rasa/server/models/*
!vol_chatbot_data/rasa/server/models/placeholder