<div class="intent-container">
  <div class="row manage-response-row">
    <div class="col-md-12">
      <span class="mat-subheading-2"><b>Response Description: </b></span> 
      <span *ngIf="currentResponse">{{currentResponse.response_description}}</span>
    </div>
  </div>
  <div class="row manage-response-row">
    <div class="col-md-6">
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>New Response Text</mat-label>
        <textarea matInput type="text" [(ngModel)]="new_response_text" (keyup)="populateEntities($event)" [readonly]="readonly" (keydown.enter)="addResponseTextElement($event)" #responseText="matInput"></textarea>
      </mat-form-field>
      <div *ngIf="showEntityDropdown===true" class="relative">
        <mat-card>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Filter Entities" (keyup)="applyEntityFilter($event.target.value)">
          </mat-form-field>
          <div  *ngFor="let entity of entities; let i = index;">
            <button mat-button class="entities-button" (click)="selectEntity(entity.entity_name)">{{entity.entity_name}}</button>
          </div>
        </mat-card>
      </div>
      <div *ngIf="show_empty_entity_error" class="error">Kindly add entity first to access them.</div>
    </div>
    <div class="col-md-6">
      <mat-form-field class="intent-response-filter" appearance="outline">
        <mat-label>Filter Response Text</mat-label>
        <input matInput (keyup)="applyMapFilter($event.target.value)">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="text_entities.length===0 && text_entities_backup.length===0" class="row empty-response-text">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong>Info!</strong> Atleast one response should be defined.
      </div>
    </div>
  </div>
  <div *ngIf="text_entities.length===0 && text_entities_backup.length!==0" class="row empty-response-text">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <strong>Warning!</strong> No Matching Response Texts.
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngFor="let text_entity of text_entities; let i = index;">
          <mat-card>
            <div class="row" id="responseText_heading_{{i}}">
              <div class="col-md-11">
                <span class="response-text" id="response_text_{{i}}">{{text_entity}}</span>
              </div>
              <div class="col-md-1 text-right">
                <button mat-icon-button (click)="removeResponseTextElement(i, text_entity)">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="delete"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="delete-black"></mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
