.place_div_center {
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}
.example-list {
    width: 100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}
.mat-exp-panel-element {
    width: 100%;
}
.intents-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}
.entities-box {
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 4px;
    overflow-y: auto;
}
.responses-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background: white;
    font-size: 14px;
}
.example-full-width {
    width: 100%;
}
.add-intents-div {
    padding: 1%;
}
.add-responses-div {
    padding: 0.5%;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
    border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.display-none {
    display: none;
}