<div *ngIf="loadTryNow === false" class="full-height">
  <mat-sidenav-container class="trainer-container"  (backdropClick)="closeEntityPanel()">
    <mat-sidenav-content class="main-container">
      <mat-toolbar class="row toolbar-div">
        <div class="col-md-11 breadcrumb-div">
          <ol class="breadcrumb">
              <li *ngFor="let breadcrumb of breadcrumb_arr; let i = index;" class="breadcrumb-item" (click)="updateBreadcrumb(breadcrumb, i)"><span class="breadcrumb-element">{{breadcrumb.breadcrumb_name}}</span></li>
          </ol>
        </div>
        <div class="col-md-1 show-entities-div">
          <mat-chip-list *ngIf="showPropertyPanel === true">
            <mat-chip *ngIf="appSource==='enterprise'" class="show-entity-chip show-entity-chip-color" matTooltip="Show Property Panel" (click)="toggleEntities()"><mat-icon>navigate_before</mat-icon></mat-chip>
            <mat-chip *ngIf="appSource==='open'" class="show-entity-chip show-entity-chip-black" matTooltip="Show Property Panel" (click)="toggleEntities()"><mat-icon>navigate_before</mat-icon></mat-chip>
          </mat-chip-list>
        </div>
      </mat-toolbar>
      <div *ngIf="setComponent === 'manage-projects'" class="full-height">
        <app-manage-projects (selectedProject)="projectSelected($event)"></app-manage-projects>
      </div>
      <div *ngIf="setComponent === 'manage-domains'" class="full-height">
        <app-manage-domains [projectObjectId]="projectObjectId" (selectedDomain)="domainSelected($event)"></app-manage-domains>
      </div>
      <div *ngIf="setComponent === 'manage-irs'" class="full-height">
        <app-manage-irs [projectObjectId]="projectObjectId" [domainObjectId]="domainObjectId" (selectedIRS)="irsSelected($event)"></app-manage-irs>
      </div>
      <div *ngIf="setComponent === 'manage-intents'" class="full-height">
        <app-manage-intents [projectObjectId]="projectObjectId" [intentObjectId]="irsObjectId"></app-manage-intents>
      </div>
      <div *ngIf="setComponent === 'manage-responses'" class="full-height">
        <app-manage-responses [projectObjectId]="projectObjectId" [responseObjectId]="irsObjectId"></app-manage-responses>
      </div>
      <div *ngIf="setComponent === 'manage-stories'" class="full-height">
        <app-manage-stories [projectObjectId]="projectObjectId" [domainObjectId]="domainObjectId" [storyObjectId]="irsObjectId"></app-manage-stories>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #entitiesSidenav mode="over" position="end" class="property-panel-container">
      <div class="row property-panel-row">
        <div class="col-md-12">
          <div class="text-center">
            <h4 class="prop-panel-text">Property Panel</h4>
          </div>
          <div class="row property-panel">
            <div class="col-md-4 text-center">
              <button mat-flat-button class="entities-button" (click)="openPropertyPanelComponent('entities')">Entities</button>
            </div>
            <div class="col-md-4 text-center">
              <button mat-flat-button class="actions-button" (click)="openPropertyPanelComponent('actions')">Actions</button>
            </div>
            <div class="col-md-4 text-center">
              <button mat-flat-button class="app-prop-button" (click)="openPropertyPanelComponent('app-prop')">AppProp</button>
            </div>
          </div>
          <div class="row property-panel-components">
            <div style="width: 100%;" *ngIf="propertyPanel === 'entities'">
              <app-manage-entities #entityComponent [projectObjectId]="projectObjectId"></app-manage-entities>
            </div>
            <div style="width: 100%;" *ngIf="propertyPanel === 'actions'">
              Manage Actions Coming Soon
            </div>
            <div style="width: 100%;" *ngIf="propertyPanel === 'app-prop'">
              Manage App Properties Coming Soon
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<div *ngIf="loadTryNow">
  <router-outlet></router-outlet>
</div>