.trainer-container {
    width: 100%;
    background-color: inherit;
}
.spacer {
    flex: 1 1 auto;
}  
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
    background-color: inherit;
}
span.breadcrumb_path {
  font-size: 18px;
}