<div class="create-user-popup">
  <div class="row">
    <div class="col-md-10">
      <h2 class="mat-title">Update User: {{username}}</h2>
    </div>
    <div class="col-md-2 text-right">
      <button class="mat-button close-dialog" (click)="closeDialog()"><h2 class="mat-title">X</h2></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance=outline>
        <input matInput placeholder="First Name" [(ngModel)]="firstname">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance=outline>
        <input matInput placeholder="Last Name" [(ngModel)]="lastname">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="example-full-width" appearance=outline>
        <input matInput placeholder="Display Name" [(ngModel)]="displayname">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance=outline>
        <input matInput placeholder="Email Id" [(ngModel)]="email">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance=outline>
        <input matInput placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <mat-checkbox><span class="mat-caption">Same As Email</span></mat-checkbox>
    </div>
  </div> -->
  <mat-divider></mat-divider>
  <!-- <div class="row">
    <div class="col-md-10">
      <h2 class="mat-title">Password</h2>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-checkbox (change)="resetPassVar()"><span class="mat-caption">Reset Password</span></mat-checkbox>
    </div>
    <div class="col-md-9">
    </div>
  </div>
  <div *ngIf="reset_password === true">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance=outline>
          <input matInput placeholder="Enter New Password">
        </mat-form-field>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance=outline>
          <input matInput placeholder="Confirm New Password">
        </mat-form-field>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <mat-divider></mat-divider> -->
  <div class="row">
    <div class="col-md-10">
      <h2 class="mat-title">Update Roles</h2>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="showRolesMultSelect === true">
        <ng-multiselect-dropdown
          [placeholder]="'Select Role'"
          [data]="roles_dropdownList"
          [(ngModel)]="roles_selectedItems"
          [settings]="roles_dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-md-10">
      <h2 class="mat-title">Update Agents</h2>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="showAgentsMultSelect === true">
        <ng-multiselect-dropdown
          [placeholder]="'Select Agent'"
          [data]="agents_dropdownList"
          [(ngModel)]="agents_selectedItems"
          [settings]="agents_dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div mat-dialog-actions>
        <div class="col-md-6">
            <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
        </div>
        <div class="col-md-6 text-right">
            <button mat-raised-button (click)="updateDetails()" color="primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>