@import '../../../scss/styles';

.material-icons {
    cursor: pointer;
}
.header {
    background-color: #383838;
    overflow: hidden;
    height: 75px;
}
.eva-logo-div {
    background-color: #000;
    width: 135px;
    height: 100%;
}
.logo-div {
    position: relative;
    height: 100%;
}
.logo-div img {
    height: 35px;
    width: 77px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.side_header_logo_div {
    float: left;
    padding: 0.3%;
}
// .side_header_logo {
//     // height: 45px;
//     // width: 45px;
//     // background-color: #E3DFD9;
//     // border-radius: 10%;
//     // display: inline-block;
// }
// .side_header_logo_img {
//     height: 35px;
//     width: 77px;
//     display: inline-block;
// }
.header-right {
    float: right;
    width: 10%;
}
div.absolute {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: block;
}
.side_account_logos {
    font-size: 30px;
    color: #FFF;
    margin-top: 1%;
    float: left;
}
.side_header_nlogos {
    margin-top: 8%;
    padding-right: 10%;
}
.sample-div {
    width: 1.5%;
    height: 100%;
    float: left;
    background-color: #E3DFD9;
}
.side_account_logos_open {
    margin-top: 28px;
    font-size: 30px;
    color: #173962;
}
.side_account_logos_close {
    font-size: 30px;
    color: #173962;
    padding-right: 1%;
}
.side_header_2 {
    width:15%;
    background-color: #E3DFD9;
    overflow-x: hidden;
}
.side_header_logo_div_2 {
    width: 100%;
    margin-top: 5%;
    padding-right: 1%;
    position: absolute;
}

.side_header_logo_2 {
    height: 30px;
    width: 30px;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #173962;
    display: inline-block;
}

.agents_heading {
    padding: 0 16px;
    color: #CCC;
}
.eva_accordion {
    width: 100%;
    margin-top: 10%;
    padding: 0;
}
.mat-project-card {
    height: 10%;
    background-color: #E3DFD9;
    color: #173962;
}
.main_drawer_logo {
    height: 40px;
    width: 40px;
    background-color: #173962;
    border-radius: 10%;
    margin-top: 1.5%;
}
.main_drawer_subtitle {
    font-size: 12px;
    color: #AAA;
}
.expanded_menu_1 {
    margin-top: 4%;
    margin-bottom: -8%;
}
.expanded_menu_2 {
    margin-top: 4%;
    margin-bottom: 4%;
}
mat-form-field {
    margin-left: -1.1rem;
    width: 122.5%;
}
.list_below_expand {
    margin-top: 10%;
    margin-left: 5%;
}
.item_name_below_expand {
    margin-left: 10%;
    color: #173962;
    font-size: 14px;
}
.nofocus {
    outline: none;
    border: 0;
}