@import '../../../scss/styles';

.material-icons {
    cursor: pointer;
}
.header {
    background-color: #173962;
    overflow: hidden;
    height: 50px;
}
.eva-logo-div {
    background-color: #173962;
    width: 135px;
    height: 100%;
}
.logo-div {
    position: relative;
    height: 100%;
}
.logo-div img {
    height: 35px;
    width: 77px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}