@import '../../../scss/styles';

.header-color {
    background-image: $global_gradient;
}
.header-icon {
    margin-left: 10px;
    width: 30px;
    height: 50px;
    transform: scale(2);
    cursor: pointer;
}
.header-text {
    color: white; 
    font-size: 35px;
    margin-left: 20px;
    margin-top: 3px;
    cursor: pointer;
    font-family: 'Exo';
    font-weight: bold;
}
.header-icons {
    font-size: 40px;
    color: white;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}