@import "../../scss/styles";

.main-app-div {
  box-sizing: border-box;
  height: 740px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 100%;
}
.column-left {
  background-color: #f8fafa;
  height: 100%;
}
.col-div-style {
  border-right: 2px solid #757575;
  padding: 0;
}
.eva-text-div {
  height: 30%;
  border-bottom: 2px solid #757575;
}
.eva-desc-div {
  height: 70%;
}
.eva-text {
  position: relative;
  height: 100%;
}
.eva-text span {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: $text-color-1;
  font-size: 60px;
}
.eva-desc {
  position: relative;
  height: 100%;
}
.eva-desc span {
  position: absolute;
  top: 5%;
  left: 2%;
  right: 15%;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #757575;
}
.column-right {
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.5);
}
div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  cursor: pointer;
}
img {
  width: 80px;
  height: 80px;
}
.caption {
  display: block;
  color: $text-color-1;
  font-size: 17px;
  line-height: 24px;
}
.app-icons {
  font-size: 75px;
}
.apps-button {
  height: 100%;
  width: 100%;
}