<app-header></app-header>
<div class="row main-app-div">
  <div class="col-md-6 column-left">
    <div class="row eva-text-div">
      <div class="col-md-2 col-div-style"></div>
      <div class="col-md-6 col-div-style">
        <div class="eva-text">
          <span>EVA</span>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row eva-desc-div">
      <div class="col-md-2 col-div-style"></div>
      <div class="col-md-6 col-div-style">
        <div class="eva-desc">
          <span>EVA (Enterprise Virtual Assistant) is a Machine Learning enabled virtual assistant which can converse with humans and assist them in their tasks in a smarter way. It can also automate repetitive tasks, converse with enterprise applications, take decisions and can be a one-stop-shop for all enterprise needs.</span>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="col-md-6 column-right">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile>
        <div class="item" [routerLink]="'/home/trainer'">
          <img src="../../assets/images/trainer.svg"/>
          <span class="caption">Trainer</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item" [routerLink]="'/home/deploy'">
          <img src="../../assets/images/deploy.svg"/>
          <span class="caption">Deploy</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>