<div class="row">
  <div class="column image">
  </div>
  <div class="column">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile>
        <button mat-raised-button [routerLink]="'/home/trainer'" color="primary"><b>Trainer</b></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button [routerLink]="'/home/deploy'" color="primary"><b>Deploy</b></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="btn btn-link">
          <mat-icon>looks_3</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="btn btn-link">
          <mat-icon>looks_4</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="btn btn-link">
          <mat-icon>looks_5</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="btn btn-link">
          <mat-icon>looks_6</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>