<div class="content">
    <mat-card class="login-card">
        <mat-card-header>
            <div mat-card-avatar class="login-header-image"></div>
            <mat-card-title>EVA Chatbot</mat-card-title>
            <mat-card-subtitle>Navigate Consulting Platform</mat-card-subtitle>
        </mat-card-header>
        <hr/>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-card-content class="login-card-content">
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" name="username">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" name="password">
                    </mat-form-field>
                </div>
                <div *ngIf="checkCredentials === 0" class="error">Invalid Email Id Or Password.</div>
            </mat-card-content>
            <hr/>
            <mat-card-footer>
                <div class="row text-center footer-row">
                    <div class="col-md-12">
                        <button class="login-button" type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
                    </div>
                </div>
            </mat-card-footer>
        </form>
    </mat-card>
</div>
