<div class="domains-container">
  <div class="row add-domain">
    <div class="col-md-11">
      <mat-form-field>
        <input matInput (keyup)="applyDomainsFilter($event.target.value)" placeholder="Filter Domains">
      </mat-form-field>
    </div>
    <div class="col-md-1 text-right">
      <button mat-mini-fab matTooltip="Add Domain" [ngClass]="(appSource==='open')?'add-domain-button-black':'add-domain-button-color'" (click)="addNewDomain()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="domains_json.length===0 && domains_json_backup.length===0" class="row empty-domains">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong>Info!</strong> Currently there are no domains.
      </div>
    </div>
  </div>
  <div *ngIf="domains_json.length===0 && domains_json_backup.length!==0" class="row empty-domains">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <strong>Info!</strong> No Matching Domains.
      </div>
    </div>
  </div>
  <div class="row domains-card-container">
    <div class="col-md-12">
      <div class="domains-card">
        <mat-grid-list cols="5">
          <mat-grid-tile *ngFor="let domain of domains_json; let i = index">
            <mat-card class="domain-card">
              <div class="row" (click)="selectDomain(domain)">
                <div class="col-md-2">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="domain"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="domain-black"></mat-icon>
                </div>
                <div class="col-md-10 domain-name" matTooltip="{{domain.domain_name}}">
                  <span class="domain_text">{{domain.domain_name}}</span>
                </div>
              </div>
              <div style="height: 10px;"></div>
              <div class="row" style="width: 100%; height: 100%;">
                <div class="col-md-10 domain_desc_div overflow" matTooltip="{{domain.domain_description}}" (click)="selectDomain(domain)">
                  <div class="domain_desc_text">{{domain.domain_description}}</div>
                </div>
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-icon-button (click)="editDomain(domain._id.$oid, domain.domain_name, domain.domain_description)">
                        <mat-icon *ngIf="appSource==='enterprise'" svgIcon="edit"></mat-icon>
                        <mat-icon *ngIf="appSource==='open'" svgIcon="edit-black"></mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-icon-button (click)="deleteDomain(domain._id.$oid)">
                        <mat-icon *ngIf="appSource==='enterprise'" svgIcon="delete"></mat-icon>
                        <mat-icon *ngIf="appSource==='open'" svgIcon="delete-black"></mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>