@import '../../scss/styles';

.domains-container {
  padding: 1%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 85%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.domains-card-container {
  overflow-y: auto;
  height: 85%;
}
.domain-card {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.add-domain-button {
  background-image: $global_gradient;
}