@import '../../../../scss/styles';

.mat-radio-button {
    padding: 1%;
}
/deep/ .mat-radio-outer-circle {
.mat-radio-checked & {
        border-color: $primary-color-1 !important;
    }
}

/deep/ .mat-radio-inner-circle {
    background-color: $primary-color-1 !important;
}

/deep/ .mat-radio-ripple .mat-ripple-element {
    background-color: $primary-color-1 !important;
}

.remove-entity-button {
    color: white;
    font-weight: bold;
    background-color: $primary-color-1;
}
.remove-entity-button-black {
    color: white;
    font-weight: bold;
    background-color: $primary-color-8;
}
.mat-dialog-content {
    margin-left: -2% !important;
    margin-right: -2% !important;
}
mat-form-field {
    font-size: 14px;
}
.entity-values {
    display: flex;
    flex-direction: column;
}
.entity-values > * {
    width: 100%;
}
.example-full-width {
    width: 100%;
}
.entity-save-button {
    background-color: $primary-color-3;
    color: white;
    font-weight: bold;
}
.entity-save-button-black {
    background-color: $primary-color-8;
    color: white;
    font-weight: bold;
}