<mat-tab-group mat-stretch-tabs [ngClass]="(appSource==='open')?'tabs-black':'tabs-color'" [selectedIndex]="activeTabIndex">
  <mat-tab label="Intents">
    <div class="irs-container">
      <div class="row add-irs">
        <div class="col-md-11">
          <mat-form-field>
            <input matInput (keyup)="applyIntentsFilter($event.target.value)" placeholder="Filter Intents">
          </mat-form-field>
        </div>
        <div class="col-md-1 text-right">
          <button mat-mini-fab matTooltip="Add Intent" [ngClass]="(appSource==='open')?'add-irs-button-black':'add-irs-button-color'" (click)="addNewIntent()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="intents_json.length===0" class="row empty-intents">
        <div class="col-md-12">
          <div class="alert alert-info">
            <strong>Info!</strong> Currently there are no intents.
          </div>
        </div>
      </div>
      <br />
      <div class="row irs-table-container">
        <div class="col-md-12">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="intentsDataSource">
    
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let intent">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="intent"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="intent-black"></mat-icon>
                </td>
              </ng-container>
            
              <ng-container matColumnDef="intent_name">
                <th mat-header-cell *matHeaderCellDef> Intent Name </th>
                <td mat-cell *matCellDef="let intent" class="intent_name_text"><span (click)="selectIntent(intent)">{{intent.intent_name}}</span></td>
              </ng-container>
            
              <ng-container matColumnDef="intent_description">
                <th mat-header-cell *matHeaderCellDef> Intent Description </th>
                <td mat-cell *matCellDef="let intent"> {{intent.intent_description}} </td>
              </ng-container>
    
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let intent" class="edit_remove">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="edit" (click)="editIntent(intent._id.$oid, intent.intent_name, intent.intent_description)"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="edit-black" (click)="editIntent(intent._id.$oid, intent.intent_name, intent.intent_description)"></mat-icon>
                </td>
              </ng-container>
    
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let intent" class="edit_remove">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="delete" (click)="deleteIntent(intent._id.$oid)">remove_circle</mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="delete-black" (click)="deleteIntent(intent._id.$oid)">remove_circle</mat-icon>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="intentsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: intentsDisplayedColumns;"></tr>
            </table>
            <mat-paginator #intentsPaginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons (page)="getIntentsPaginatorData($event)"></mat-paginator>
          </div>
        </div>
      </div>
      <div class="row irs-footer">
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Responses">
    <div class="irs-container">
      <div class="row add-irs">
        <div class="col-md-11">
          <mat-form-field>
            <input matInput (keyup)="applyResponsesFilter($event.target.value)" placeholder="Filter Responses">
          </mat-form-field>
        </div>
        <div class="col-md-1 text-right">
          <button mat-mini-fab matTooltip="Add Response" [ngClass]="(appSource==='open')?'add-irs-button-black':'add-irs-button-color'" (click)="addNewResponse()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="responses_json.length===0" class="row empty-responses">
        <div class="col-md-12">
          <div class="alert alert-info">
            <strong>Info!</strong> Currently there are no responses.
          </div>
        </div>
      </div>
      <br />
      <div class="row irs-table-container">
        <div class="col-md-12">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="responsesDataSource">
    
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let response">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="response"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="response-black"></mat-icon>
                </td>
              </ng-container>
            
              <ng-container matColumnDef="response_name">
                <th mat-header-cell *matHeaderCellDef> Response Name </th>
                <td mat-cell *matCellDef="let response" class="response_name_text"><span (click)="selectResponse(response)">{{response.response_name}}</span></td>
              </ng-container>
            
              <ng-container matColumnDef="response_description">
                <th mat-header-cell *matHeaderCellDef> Response Description </th>
                <td mat-cell *matCellDef="let response"> {{response.response_description}} </td>
              </ng-container>
    
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let response" class="edit_remove">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="edit" (click)="editResponse(response._id.$oid, response.response_name, response.response_description)"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="edit-black" (click)="editResponse(response._id.$oid, response.response_name, response.response_description)"></mat-icon>
                </td>
              </ng-container>
    
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let response" class="edit_remove">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="delete" (click)="deleteResponse(response._id.$oid)"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="delete-black" (click)="deleteResponse(response._id.$oid)"></mat-icon>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="responsesDisplayedColumns;"></tr>
              <tr mat-row *matRowDef="let row; columns: responsesDisplayedColumns;"></tr>
            </table>
            <mat-paginator #responsesPaginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons (page)="getResponsesPaginatorData($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Stories">
    <div class="irs-container">
      <div class="row add-irs">
        <div class="col-md-11">
          <mat-form-field>
            <input matInput (keyup)="applyStoriesFilter($event.target.value)" placeholder="Filter Stories">
          </mat-form-field>
        </div>
        <div class="col-md-1 text-right">
          <button mat-mini-fab matTooltip="Add Story" [ngClass]="(appSource==='open')?'add-irs-button-black':'add-irs-button-color'" (click)="addNewStory()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="stories_json.length===0" class="row empty-stories">
        <div class="col-md-12">
          <div class="alert alert-info">
            <strong>Info!</strong> Currently there are no stories.
          </div>
        </div>
      </div>
      <br />
      <div class="row irs-table-container">
        <div class="col-md-12">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="storiesDataSource">
    
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let story">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="story"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="story-black"></mat-icon>
                </td>
              </ng-container>
            
              <ng-container matColumnDef="story_name">
                <th mat-header-cell *matHeaderCellDef> Story Name </th>
                <td mat-cell *matCellDef="let story" class="story_name_text"><span (click)="selectStory(story)">{{story.story_name}}</span></td>
              </ng-container>
            
              <ng-container matColumnDef="story_description">
                <th mat-header-cell *matHeaderCellDef> Story Description </th>
                <td mat-cell *matCellDef="let story"> {{story.story_description}} </td>
              </ng-container>
    
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let story" class="edit_remove">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="edit" (click)="editStory(story._id.$oid, story.story_name, story.story_description)"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="edit-black" (click)="editStory(story._id.$oid, story.story_name, story.story_description)"></mat-icon>
                </td>
              </ng-container>
    
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let story" class="edit_remove">
                  <mat-icon *ngIf="appSource==='enterprise'" svgIcon="delete" (click)="deleteStory(story._id.$oid)"></mat-icon>
                  <mat-icon *ngIf="appSource==='open'" svgIcon="delete-black" (click)="deleteStory(story._id.$oid)"></mat-icon>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="storiesDisplayedColumns;"></tr>
              <tr mat-row *matRowDef="let row; columns: storiesDisplayedColumns;"></tr>
            </table>
            <mat-paginator #storiesPaginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons (page)="getStoriesPaginatorData($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>