@import '../../scss/styles';

.example-stretched-tabs {
    width: 100%;
}
.irs-container {
    padding: 1.5%;
    height: 510px;
    width: 100%;
    overflow-y: auto;
}
table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-column-icon{
    width: 5%;
}
.mat-column-intent_name{
    width: 25%;
}
.mat-column-intent_description {
    width: 65%;
}
.mat-column-response_name{
    width: 25%;
}
.mat-column-response_description {
    width: 65%;
}
.mat-column-story_name{
    width: 25%;
}
.mat-column-story_description {
    width: 65%;
}
.mat-column-edit {
    width: 5%;
}
.mat-column-delete {
    width: 5%;
}
.mat-row:hover {
    background-color: #eee;
}
.intent_name_text:hover {
    text-decoration: underline;
    cursor: pointer;
}
.response_name_text:hover {
    text-decoration: underline;
    cursor: pointer;
}
.story_name_text:hover {
    text-decoration: underline;
    cursor: pointer;
}
.edit_remove {
    cursor: pointer;
}
.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}
.add-irs-button-color {
    background-image: $global_gradient;
}
.add-irs-button-black {
    background-image: $global_gradient_black;
}
.tabs-black md-ink-bar {
    background-color: $primary-color-5;
}
@media screen and (min-height: 900px) and (max-height: 1080px) {
    .irs-container {
        height: 850px;
        overflow-y: auto;
    }
}