@import "../../scss/styles";

.intent-container {
  padding: 1%;
  height: 100%;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.error {
  color: #e34256;
  opacity: 0.8;
  font-size: 12px;
  margin-top: 1%;
}
#accordion {
  width: 100%;
  height: 58vh;
  padding: 1%;
  overflow-y: auto;
}
.highlight {
  background-color: rgba(255, 208, 0, 0.685);
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10  */
  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
}
.card-header {
  background-color: white;
}
.key_arrow_down {
  color: $primary-color-3;
}
@media screen and (min-width: 1367px) and (max-width: 1620px) {
  #accordion {
      height: 62vh;
      overflow-y: auto;
      padding: 1%;
  }
}
@media screen and (min-width: 1621px) and (max-width: 1729px) {
  #accordion {
      height: 66vh;
      overflow-y: auto;
      padding: 1%;
  }
}
@media screen and (min-width: 1730px) {
  #accordion {
      height: 68vh;
      overflow-y: auto;
      padding: 1%;
  }
}