@import '../../scss/styles';

.intent-container {
  padding: 1%;
  height: 100%;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.error {
  color: #E34256;
  opacity: 0.8;
  font-size: 12px;
  margin-top: 1%;
}
#accordion {
  width: 100%;
  height: 360px;
  padding: 1%;
  overflow-y: auto;
}
.highlight {
  background-color: rgba(255, 208, 0, 0.685);
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
}
.card-header {
  background-color: white;
}
.key_arrow_down {
  color: $primary-color-3;
}
.key_arrow_down_black {
  color: $primary-color-5;
}
@media screen and (min-height: 900px) and (max-height: 1080px) {
  #accordion {
      height: 720px;
      overflow-y: auto;
  }
}