.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 2; // Leave this as 1
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    position:absolute;
}
.footer-text span {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 12px;
    line-height: 28px;
}