.place_div_center {
	width: 300px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    text-align: -webkit-center;
}
.spinner-text {
    margin-top: 5%;
    color: white;
}