.place_div_center {
	width: 100px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
  
/* Control the left side */
.left {
	border-right: 1px solid #DDD;
	padding: 0;
	height: 100%;
}

.user-bot-chat {
	height: 81%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.user-message, .bot-message {
	padding: 3%;
}

.user-box {
	box-sizing: border-box;
	float: right;
}

.user {
	box-sizing: border-box;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(135, 229, 226);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    line-height: 1em;
    border-radius: 50%;
}

.user-chat {
	box-sizing: border-box;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    background-color: #ff6358;
    max-width: 408px;
    letter-spacing: 0.6px;
    line-height: 20px;
    border-radius: 20px 4px 20px 20px;
}

.bot-box {
	box-sizing: border-box;
	float: left;
}

.bot {
	box-sizing: border-box;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(135, 229, 226);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    line-height: 1em;
    border-radius: 50%;
}

.bot-chat {
	box-sizing: border-box;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    background-color: rgb(236, 239, 247);
    max-width: 408px;
    letter-spacing: 0.6px;
    line-height: 20px;
    border-radius: 4px 20px 20px;
}

.type-message {
	position:absolute;
	height: 19%;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #DDD;
}

.no-padding {
	padding: 0;
}

.input-full-width {
	margin-top: 2%;
	width: 100%;
	font-size: 14px;
}

::ng-deep .mat-form-field.input-full-width {
    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: transparent;
    }
    .mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
}

.refresh-send {
	margin-top: 3%;
	cursor: pointer;
}

.refresh-send-button {
	color: #AAA;
}

.dot {
    display:inline-block;
    width:3px;
    height:3px;
    border-radius:50%;
    margin-right:3px;
    background:#000;
    animation: wave 1.3s linear infinite;

    &:nth-child(2) {
        animation-delay: -1.1s;
    }

    &:nth-child(3) {
        animation-delay: -0.9s;
    }
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}
  
/* Control the right side */
.right {
	padding: 0;
}

.example-card {
	width: 100%;
	height: 80px;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}