.place_div_center {
	width: 100px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

/* Split the screen in half */
.split {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
/* Control the left side */
.left {
	width: 70%;
	left: 0;
}
  
/* Control the right side */
.right {
	width: 30%;
	right: 0;
}