* {
  font-family: 'Lato', sans-serif;
}
.toolbar {
  --ion-toolbar-background: linear-gradient(to right, #19D2CC, #0968B5);
  --ion-toolbar-color: var(--header-text-color);
}
.trainer-icon {
  width: 35px;
  height: 30px;
}
.trainer-icon-div {
  float: left;
}
.trainer-header-div {
  margin-top: 1%;
}
.inner-scroll {
  background-color: #e3dfd9;
}