<h1 mat-dialog-title>Confirm Deploy Model</h1>

<mat-dialog-content>
  <h4 class="mat-subheading-1">Are you sure you want to deploy?</h4>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button *ngIf="appSource==='enterprise'" mat-raised-button (click)="confirmDeploy()" class="deploy-button">Confirm</button>
  <button *ngIf="appSource==='open'" mat-raised-button (click)="confirmDeploy()" class="deploy-button-black">Confirm</button>
</mat-dialog-actions>