@import '../../../../scss/styles';

.deploy-button {
    background-color: $primary-color-3;
    color: $primary-white;
}
.deploy-button-black {
    background-color: $primary-color-8;
    color: $primary-white;
}