.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px;
  background: inherit;
}
.pseudolink { 
  color:blue; 
  text-decoration:underline; 
  cursor:pointer; 
}
span.breadcrumb_path {
  font-size: 15px;
}
.container {
  height: 0px;
}
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.file-or-folder {
  padding: 8px;
  overflow: hidden;
}
.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}
.file-or-folder-name {
  font-family: inherit;
  font-size: 12px;
}
.pointer {
  cursor: pointer;
}
.spacer {
  flex: 1 1 auto;
}
.place_div_center {
  padding: 1%;
  width: 100%;
}
.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.mat-exp-panel-element {
  width: 100%;
}
.utterances-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.responses-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background: white;
  font-size: 14px;
}
.add-utterances-div {
  padding: 1%;
}
.add-responses-div {
  padding: 0.5%;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}