<div class="row entity-chip">
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let entity of entities" [selectable]="selectable" (click)="editEntity(entity)">
            {{entity.entity_name}}
            </mat-chip>
            <input  matInput
                    placeholder="New Entity..."
                    maxlength="30"
                    (keydown.space)="$event.preventDefault()"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addEntity($event)" appearance="outline">
        </mat-chip-list>
    </mat-form-field>
</div>
